<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="navbar-title"><span id="nav-title-right"><span class="davis">DAVIS AEROSPACE AVIATORS</span></h3>
      </div>
      <div class="col-sm-6">
        <ul class="nav masthead-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#agenda">Agenda</a></li>
          <li><a href="#places">Hotel Information</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="http://tinyurl.com/DavisAerospaceReunion" target="_blank" class="btn btn-primary">Registration</a></li>
         </ul>
      </div>
    </div>
  </div> 
</nav>
            
    <!--end of navbar -->

  <div class="jumbotron" id="main-jumbo">
    <h1>Friday, August 11th  - Sunday, August 13th</h1>

    <div class="well">
      <h2>Join us as we celebrate all graduating classes of</h2>
      <h1>Benjamin Oliver Davis, Jr. Technical High School</h1>
      <h3>Come re-connect with all your friends and find our what everyone has been doing since graduation!<br/>
        This will be a jammed-packed weekend filled fun, laughter, and many walks down memory lane! Bring the family!</h3> <br/ ><br/>
         <p><a href="http://tinyurl.com/DavisAerospaceReunion" target="_blank" class="btn btn-warning">Registation is open!</a></p>
        <div class="deadlines"> 
           <h4><span class="date">Now - July 1st:</span> Registration is $30 per person with a guaranteed reunion t-shirt</h4>
           <h4><span class="date">July 2nd - July 31st:</span>  Registration is $40 per person with a guaranteed reunion t-shirt</h4>
           <h4><span class="date">August 1st - August 10th:</span> Registration is $40 per person, reunion t-shirt NOT guaranteed</h4>
        </div> 
    </div>
</div>

<div class="jumbotron">
    <div class="well" id="agenda">
      <h1>Schedule of Events</h2>
      <h3>Friday, August 11th @ 7:30pm</h1>
      <h2> Meet &amp Greet</h3>
      <h2>Rub BBQ Pub, 18 W Adams, Detroit 48226</h2>     
      <h4>**Participants responsible for their own checks**</h4>

   
      <h3>Saturday, August 12th @ 1pm - 6pm</h1>
      <h2>Reunion Picnic</h3>
      <h2>Belle Isle Park, Shed no. 20</h2>     
      <h4>Prepayment of $30 per person REQUIRED for this event (includes reunion T-shirt). <br/>
         Additional Park Entry Fee: $11/car day pass can be purchased at the guard station</h4>


      <h3>Sunday, August 13th @ 12pm </h3>
      <h2>Finale Brunch</h2>
      <h2>Bliss Sunday Brunch, 525 W. Lafayette Blvd (Inside Double Tree Hilton Downtown Detroit)</h2>      
      <h4>$25 per person paid at time of arrival</h4>


    </div>

  </div>


 

  <div class="jumbotron">
    <div class="well" id="places">
      <h1>Hotel Information</h1>

      <h4>For those coming in from out of town, the following arrangements have been made:</h4>
    
      <h2> St. Regis Hotel</h2>
      <h3> 3071 W. Grand Blvd, Detroit, MI 48202</h3> 
      <h3>$119.00 Per Night</h3> 
      <h3>Rate available until July 10, 2017</h3>
      <h3>Call 313-873-3000</h3>
      <h3>Group Reservation: # 131967 –Davis Aerospace</h3>

   </div>
</div> 


<div class="jumbotron">
    <div class="well" id="contact">
      <h1>Contact Information</h1>

      <h2>Questions about the reunion? Want to help with planning? </h4>
    
      <h3><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:lldrayton@att.net?subject=Davis Aerospace Reunion Info">Email Lisa Drayton</a></h3>
      

   </div>
</div> 
